[Desktop Entry]
Version=1.0
Name=Eclipse
Comment=Develop with not so much pleasure (or switch to intellij)
Exec=/opt/eclipse/eclipse-luna/eclipse
Icon=/opt/eclipse/eclipse-luna/icon.xpm
Terminal=false
Type=Application
Categories=Utility
